<?
$page->title('About the '.$inst_name.' Mobile Web: Credits')
     ->header('About this Site');

$page->content_begin();
?>
<div class="focal">

<h2>Credits</h2> 
 <p>
		The <?=$inst_name?> Mobile Web was developed using the Mobile Web Open Source Project (OSP). The Mobile Web OSP is based on version 0.9 of MIT Mobile Web. Mobile Web OSP was modified &amp; documented by Dave Olsen of West Virginia University's University Relations/Web Services.
	</p>
  <p>
      The original MIT Mobile Web was developed by MIT's Information Services &amp; Technology (IS&amp;T) as a service to the MIT community. The initial design and implementation took place in January-May 2008, and after a beta release and testing in May 2008, the site was officially launched in June 2008.
  </p>

<ul>
    <li>Project leader: Andrew Yu (Mobile Devices Platform Coordinator, IS&amp;T)</li>
    <li>Development and integration: Brian Patt, Sonya Huang, and Albert Chow</li>
    <li>User interface design: Eric Kim</li>
    <li>Team members: Matthew Sullivan, Justin Anderson, and Joanna Proulx</li>
    <li>Advisor: Taeminn Song</li>
</ul>

    <p>We hope you find the site useful &ndash; and fun! Please send any feedback to <a href="mailto:<?=$contact_addy?>"><?=$contact_addy?></a>.
</div>

<? 
$page->content_end(); 
$page->help_off();
$page->nav_link('./', 'About this Site');

?>
