<?
$page->title($inst_name." Events Calendar: Event Details")
     ->header($inst_name.' Events Calendar');

$page->content_begin();
?>

	<div class="focal">
		<h2><?=html_entity_decode($event['title'])?></h2>
		<p>
			<?=$event['datefull']?>
			<? if ($event['timefull']) { ?>
			  <br/><?=$event['timefull']?>
			<? } ?>
		</p>
		<p>
       <? if (trim($event['where']) != '') { ?>
						Location: <?=$event['where']?>
						<!-- think about adding a hack to the map module for linking events -->
       <? } ?>
		</p>
		<? if (trim($event['description']) != '') { ?>
		   <p>
          <?=$event['description']?>
		   </p>
	  <? } ?>

    <? if (trim($event['contactname']) != '') { ?>
	      <p>
		       Contact name: <?=$event['contactname']?>
		    </p>
		<? } ?>
		
		<? if (trim($event['contactphone']) != '') { ?>
	      <p>
		       For info call: <a href="<?=phoneURL($event['contactphone'])?>" class="phone"><?=$contact_phone?></a>
		    </p>
		<? } ?>
		
		<? if (trim($event['contactemail']) != '') { ?>
	      <p>
		       For info email:  <a href="mailto:$event['contactemail']?>" class="email"><?=$contact_email?></a>
		    </p>
		<? } ?>

      <? if ((trim($event['link']) != '') && (trim($event['link']) != 'http://')) { ?>
		     <p>
			      Website: <a href="<?=$event['link']?>" class="external" target="_new"><?=$event['link']?></a>
		     </p>
      <? } ?>

	</div>
<?

$page->content_end();
$page->nav_link("./", "Events Calendar Home");

?>
