<?
$page->title($inst_name." Events Calendar: Search Results")
     ->header($inst_name.' Events Calendar');

$page->content_begin();

?>
<form method="get" action="search.php">
<div class="nonfocal">
	<p>
		<strong>Search for events:</strong><br/>
		<span class="inputcombo">
			<input class="forminput" type="search" id="filter" name="filter" value="<?=$search_terms?>"/>
			<input class="combobutton" name="sch_btn" id="sch_btn" type="submit" value="Search" />
		</span>	
		<select id="timeframe" name="timeframe">
			<? foreach($search_options as $key => $option) { ?> 
				<option value="<?=$key?>" <? if($key == $timeframe) { ?>selected="selected"<? } ?> ><?=$option['phrase']?></option>
			<? } ?>
		</select>
	</p>
	
	<?
		$num_events = count($eventFeed);
		if ($num_events == 0) {
			echo("<p>There were no results returned.</p>");
		} else if ($num_events == 1) {
			echo("<p>" . htmlspecialchars($num_events) . " match found:</p>");
		} else if ($num_events < 50) {
			echo("<p>" . htmlspecialchars($num_events) . " matches were found:</p>");
		} else {
			echo("<p>You may need to refine your search. The first 50 matches found:</p>");
		}
	?>
</div>

<?php if ($num_events > 0) { ?>
	<div class="focal">
		<?
			foreach ($eventFeed as $event) {
				include("p_item.html");
			}
		?>
	</div>
<?php } ?>
</form>
<?

$page->content_end();
$page->nav_link("./", "Events Calendar Home");

?>
