<?
$page->title($inst_name.' Hours &amp; Locations')
     ->navbar_image('title-hours')
     ->breadcrumbs('Hours &amp; Locations')
     ->breadcrumb_home();

$page->content_begin();
?>

<div class="focal">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet lacus id augue ornare blandit. Nunc accumsan varius pharetra. Maecenas risus libero, convallis nec tempor ut, tincidunt non nisi.</p>
</div>

<ul class="secondary">
	  <li><a href="<?=clURL()?>">Computer Labs (OIT)</a></li>
</ul>

<? 
$page->content_end(); 
$page->help_off();
?>
