<div id="home" class="clear-map-detail">
	<div class="toolbar" style="vertical-align: middle;">
		<img src="/themes/<?=$theme?>/webkit/images/logo.png" border="0" alt="School Logo" style="margin-left: 50px; margin-top: -1px"/>
		<h1 style="padding-left: 15px;"><span class="thick"><?= $inst_name ?></span><span class="thin">MobileWeb</span></h1>
	</div>
	
	<div class="formcontainer">
		<form method="get" action="/federated/">
			<fieldset class="inputcombo">
				<input type="hidden" name="ir" value="true" />
				<input class="forminput" type="text" id="filter" name="filter" placeholder="Search <?= $inst_name ?> Mobile" />
				<a style="margin:0;" href="#" class="submit"><img class="combobutton" id="sch_btn" src="/themes/<?=$theme?>/webkit/images/search-button.png" /></a>
			</fieldset>	
		</form>
	</div>

	<div>
		<div>
		  <table cellpadding="0" cellspacing="0" border="0" id="homegrid" role="navigation">
			  
				<? 
					$i = 0; $k = 0; $j = count($wk_items);
			  	foreach ($wk_items as $item) {
						if (($i == 0) || ($i == 4)) {
							$i = 0;
							echo("<tr>");
						}
						if ($item[4] == true) {
							# draw an outgoing nav link, e.g. to your full site
							include("_link_item.html");
						} else {
							# draw an internal nav link, e.g. to the calendar section
							include("_nav_item.html");
						}
						$i++; $k++;
						if ($j == $k) {
							while ($i < 4) {
								echo("<td></td>");
								$i++;
							}
						}
						if ($i == 4) {
							echo("</tr>");
						}
					}
				?>
			</table>
		</div>
	</div>
	<div class="info">
		Managed by <?= $org_name ?> <a href="/mobile-about/" class="target_padding flip"><img src="/themes/<?=$theme?>/webkit/images/info.png" height="16" width="16" border="0" class="info_img" alt="info graphic" /></a>
	</div>


</div>