<? $page_title = "Browse By ".ucfirst($category); ?>
<? $help_on = false; ?>
<? $drilldowns = array("1-9","A-C","D-F","G-L","M-Q","R-U","V-Z"); ?>

<div id="map-<?=$category?>" class="clear-map-detail">
	
	<? include("../templates/webkit/toolbar.html"); ?>
	
	<ul class="edgetoedge results" role="listbox">
		<? foreach($drilldowns as $drilldown) { ?>
			<li class="arrow" role="option"><a href="<?=drillURL($drilldown)?>"><?=$drilldown?></a></li>
		<? } ?>
	</ul>
	
	<? include("browse_category_form.html"); ?>

	<? include("../templates/webkit/info.html"); ?>

</div>
