<? $page_title = $drilldown; ?>
<? $help_on = false; ?>

<div id="map-drilldown" class="clear-map-detail">
										
	<? include("../templates/webkit/toolbar.html"); ?>
	
	<? $i = 1; ?>
	<? $a_shown = false; ?>
	<? $string_sep = 'A'; ?>
	<ul class="edgetoedge">
		<? foreach($places as $place) { ?>
			<? if (($a_shown == false) && (substr($place['name'],0,1) == 'A')) { ?>
				<? $a_shown = true; $string_sep = 'A'; ?>
				<li class="sep">A</li>
			<? } else if (substr($place['name'],0,1) != $string_sep) { ?>
				<? $string_sep = substr($place['name'],0,1); ?>
				<li class="sep"><?=$string_sep?></li>
			<? } ?>
			<? include("_li_item.html"); ?>
		<? } ?>
	</ul>
	
	<? include("browse_category_form.html"); ?>

	<? include("../templates/webkit/info.html"); ?>

</div>

