<? $page_title = "Your Favorites"; ?>
<? $help_on = false; ?>

<div id="map-favorites" class="clear-map-detail clear-fav-list">

	<? include("../templates/webkit/toolbar.html"); ?>

	<div id="fav-map-info" class="focal">
		You can set locations that you find through the Campus Map as favorites for easy future access. Just click the star icon in the top right of a location's detail page.
	</div>
	
	<ul class="edgetoedge" id="fav-map-list">
		<li class="arrow wrap" style="display: none;" id="fav-map-clone"></li>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>