<? $page_title = "Campus Map"; ?>
<? $help_on = true; ?>

<div id="map" class="clear-map-detail">
	
	<? include("../templates/webkit/toolbar.html"); ?>
	
	<div class="formcontainer">
		<form method="get" action="/map/search.php">
			<fieldset class="inputcombo">
				<input class="forminput" type="text" id="filter" name="filter" placeholder="Search the campus map" <? if($query) { ?> value="<?=$query?>" <? } ?> />
				<a style="margin:0;" href="#" class="submit"><img class="combobutton" id="sch_btn" src="/themes/<?=$theme?>/webkit/images/search-button.png" /></a>
			</fieldset>	
		</form>
	</div>

	<ul class="rounded">
		<? $user_agent = $_SERVER['HTTP_USER_AGENT']; ?>
		<? if (!eregi('android',$user_agent)) { ?>
			<li class="arrow"><a href="/map/favorites.php">Favorites<span class="mfavscount"></span></a></li>
		<? } ?>
		<? foreach($categorys as $category => $title) { ?>
			<li class="arrow"><a href="<?=categoryURL($category)?>"><?=$title?></a></li>
		<? } ?>
	</ul>
	
	<ul class="rounded">
		<li class="arrow"><a href="/map/directions.php">Directions to <?=$inst_name?></a></li>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>