<?php
$page->title($inst_name.' Athletics: Team Details')
     ->navbar_image('title-gameday')
     ->breadcrumbs('Teams','Details');

$page->content_begin();
?>

<? if (array_key_exists($_REQUEST['team'],$teams)) { ?>
	  <div class="focal"><strong><?=$teams[$_REQUEST['team']][0]?></strong></div>

<ul class="nav">
    <li><a class="external" href="http://mobile.msnsportsnet.com/index.cfm?func=viewSport&sport=<?=$_REQUEST['team']?>" onClick="javascript: pageTracker._trackPageview('/outgoing/gameday/<?=$_REQUEST['team']?>/news/');">News</a></li>
    <li><a class="external" href="http://mobile.msnsportsnet.com/index.cfm?func=viewSportSection&sport=<?=$_REQUEST['team']?>&show=<?=$teams[$_REQUEST['team']][1]?>" onClick="javascript: pageTracker._trackPageview('/outgoing/gameday/<?=$_REQUEST['team']?>/stats/');">Statistics</a></li>
	<li><a class="external" href="http://mobile.msnsportsnet.com/index.cfm?func=viewSportSection&sport=<?=$_REQUEST['team']?>&show=<?=$teams[$_REQUEST['team']][2]?>" onClick="javascript: pageTracker._trackPageview('/outgoing/gameday/<?=$_REQUEST['team']?>/schedule/');">Schedule</a></li>
	<li><a class="external" href="http://mobile.msnsportsnet.com/index.cfm?func=viewSportSection&sport=<?=$_REQUEST['team']?>&show=roster" onClick="javascript: pageTracker._trackPageview('/outgoing/gameday/<?=$_REQUEST['team']?>/roster/');">Team Roster</a></li>
	<li><a class="external" href="http://mobile.msnsportsnet.com/index.cfm?func=viewSportSection&sport=<?=$_REQUEST['team']?>&show=<?=$teams[$_REQUEST['team']][3]?>" onClick="javascript: pageTracker._trackPageview('/outgoing/gameday/<?=$_REQUEST['team']?>/gamenotes/');">Game notes</a></li>
</ul>
	  <? } else { ?>
			<div class="focal"><p>That team was not found. Sorry.</p></div>
	  <? } ?>

<? $page->content_end(); ?>
<? $page->help_off(); ?>
