<? $page_title = $drilldown; ?>
<? $help_on = true; ?>

<div id="map-drilldown-codes">
	
	<? include("../templates/iphone/toolbar.html"); ?>
	
	<h2>Browse Buildings: <?=$drilldown?></h2>
	
	<ul class="edgetoedge">
		<? foreach($places as $place) { ?>
			<? $insert = ''; ?>
			<? if ($place['type'] == 'Parking Lot') { ?>
				<? $insert = 'Parking Lot: '; ?>
			<? } ?>
			<li><a href="<?=detailURL($place['id'],$place['latitude'],$place['longitude'])?>"><?=$insert?><?=$place['code']?></a></li>
		<? } ?>
	</ul>
	
	<? include("browse_category_form.html"); ?>
	
	<? include("../templates/iphone/info.html"); ?>

</div>

