<? if ($ga_code != "") { ?>
	<?
	  # set-up the google analytics stuff for the basic view, based on code from google
	  $GA_ACCOUNT = str_replace("UA","MO",$ga_code);
	  $GA_PIXEL = "/ga.php";

	  function googleAnalyticsGetImageUrl() {
	    global $GA_ACCOUNT, $GA_PIXEL;
	    $url = "";
	    $url .= $GA_PIXEL . "?";
	    $url .= "utmac=" . $GA_ACCOUNT;
	    $url .= "&utmn=" . rand(0, 0x7fffffff);

	    $referer = $_SERVER["HTTP_REFERER"];
	    $query = $_SERVER["QUERY_STRING"];
	    $path = $_SERVER["REQUEST_URI"];

	    if (empty($referer)) {
	      $referer = "-";
	    }
	    $url .= "&utmr=" . urlencode($referer);

	    if (!empty($path)) {
	      $url .= "&utmp=" . urlencode($path);
	    }

	    $url .= "&guid=ON";

	    return $url;
	  }
	?>
	<img src="<?= googleAnalyticsGetImageUrl();?>" alt="Google Analytics tracker" style="visibility: hidden;" />
<? } ?>