<?
	$page->title($inst_name." Campus Map: Details")
	     ->header($inst_name." Campus Map");

	function tabs() {
	  $html = array();
	  foreach(array("Map") as $aTab) {
	    if($url = selfURL($aTab)) {
	      if(tab() == $aTab) {
	        $html[] = '<span class="active">' . $aTab . '</span>';
	      } else {
	        $html[] = "<a href=\"$url\">$aTab</a>";
	      }
	    }
	  }
	  return implode("&nbsp;|&nbsp;", $html);
	}

	$page->content_begin();
?>

	<div class="focal">

		<h2><?=$place['name']?> <? if ($place['code'] != '') { ?>(<?=$place['code']?>)<? } ?> <img src="/themes/<?=$theme?>/webkit/images/markers/<?=$marker_types[$place['type']]?>_tn.png" height="20" width="20" alt="Marker" /></h2>
		
    <? if($tab == "Map") { ?>
  		<p>
				<? if ($place['campus'] != '') { ?>On the <?=$place['campus']?> Campus<br /><? } ?>
				<? if ($parent == true) { ?>Located inside the <a href="<?=detailURL($parent_data['id'],$parent_data['latitude'],$parent_data['longitude'])?>"><?=$parent_data['name']?></a><? } else { ?><?=$place['physical_address']?> <? } ?>
				<? if ($place['hours'] != '') { ?><br />Open <?=str_replace('"','',$place['hours'])?><? } ?>
				<? if ($place['phone'] != '') { ?><br /><a href="tel:1<?=$place['phone']?>"><?=$place['phone']?></a><? $break = false; ?><? } ?>
				<? if ($place['website'] != '') { ?><? if ($break == true) { ?><br /><? } else { ?> | <? } ?><a href="http://<?=$place['website']?>">website</a><? } ?>
				<? if ($place['wifi'] != '') { ?><br />Has WiFi<? } ?>
				</p>
    <? } ?>

		<p class="tabs"><?=$tabs_html?> <? if (($place['latitude'] != $_REQUEST['lat']) || ($place['longitude'] != $_REQUEST['long'])) { ?><span class="legend">(<a href="<?=detailURL($place['id'],$place['latitude'],$place['longitude'])?>">reset</a>)</span><? } ?></p>	

    <p class="image">
			  <a name="map"> </a>
			  <img src="<?=imageURL($prefix)?>" width="<?=$width?>" height="<?=$height?>" alt="Map" />
		</p>
		<p>
			  <!-- Note to devs: These links, like the image URL above, will need to be calculated on the server at page compile time and hard-coded into the HTML delivered to the browser -->
			  Scroll: <a href="<?=scrollURL('W')?>">W</a>&nbsp;|&nbsp;<a href="<?=scrollURL('N')?>">N</a>&nbsp;|&nbsp;<a href="<?=scrollURL('S')?>">S</a>&nbsp;|&nbsp;<a href="<?=scrollURL('E')?>">E</a><br />
			  Zoom: <a href="<?=zoomInURL()?>">In</a>&nbsp;|&nbsp;<a href="<?=zoomOutURL()?>">Out</a><br />
			  Map Type: <? if ($_REQUEST['maptype'] == 'satellite') { ?>Satellite<? } else { ?><a href="<?=mapTypeURL('satellite')?>">Satellite</a><? } ?>
			            |
			            <? if ($_REQUEST['maptype'] == 'hybrid') { ?>Hybrid<? } else { ?><a href="<?=mapTypeURL('hybrid')?>">Hybrid</a><? } ?>
			            |
			            <? if ($_REQUEST['maptype'] == 'roadmap') { ?>Map<? } else { ?><a href="<?=mapTypeURL('roadmap')?>">Map</a><? } ?>
		</p>
                   
	</div>
<?
$page->content_end();
$page->nav_link("./", "Campus Map");
?>
