<?php
$page->title($inst_name." Events Calendar: Academic Calendar")
     ->navbar_image('title-calendar')
     ->breadcrumbs('Academic');

$page->content_begin();
?>

<div class="nonfocal">
   <h2>Academic Calendar for<br/><strong><?=$Month?> <?=$year?></strong></h2>
   <p><a href="<?=$prev_url?>">&lt; <?=$prev_month?> <?=$prev_yr?></a>&nbsp;|&nbsp;<a href="<?=$next_url?>"><?=$next_month?> <?=$next_yr?> &gt;</a></p>
</div>

<ul class="results">
	                     <? $i = 0; ?>
									     <? foreach ($eventFeed as $event) { ?>
										<? $loc = briefLocation($event); ?>
<? $i++; ?>
									          <li><a href="<?=detailURL($event)?>"><?=html_entity_decode($event->title->text)?><br/><span class="smallprint"><?=timeText($event)?><? if(trim($loc->valueString) != '') { ?>&nbsp;|&nbsp;<?=$loc->valueString?><? } ?></span></a></li>
									     <? } ?>
									     <? if ($i == 0) { ?>
									        <li> <a href="<?=$next_url?>">No academic calendar items for this month. Try next month.</a></li>
										   <? } ?>
</ul>

<? $page->content_end(); ?>

