<?
$title_end = !$is_search ? " for Today" : "";

$page->title($inst_name." Events Calendar: " . $calendars[$_REQUEST['id']]['title'] . $title_end)
     ->navbar_image('title-calendar')
     ->breadcrumbs("Browse", "Listing")
     ->breadcrumb_links(categorysURL());

$page->content_begin(); 
?>

<div class="nonfocal">
   <h2><?=$calendars[$_REQUEST['id']]['title']?></h2>
	<?
		$num_events = count($eventFeed);
		if ($num_events == 0) {
			echo("<p>There were no results returned.</p>");
		} else if ($num_events == 1) {
			echo("<p>" . htmlspecialchars($num_events) . " match found:</p>");
		} else if ($num_events < 30) {
			echo("<p>" . htmlspecialchars($num_events) . " matches were found:</p>");
		} else {
			echo("<p>The first 30 matches found:</p>");
		}
	?>
</div>

<?php if ($num_events > 0) { ?>
	<ul class="results">
		<?
			foreach ($eventFeed as $event) {
				include("li_item.html");
			}
		?>
	</ul>
<?php } ?>
<?

$page->content_end(); 
?>

