<?
$page->title($inst_name." Events Calendar: Event Details")
     ->navbar_image('title-calendar')
     ->breadcrumbs("Events", "Details");

$page->content_begin();
?>
	<div class="focal ">
		<h2><?=$event->title?></h2>
	
		<ul class="nav">
			<li>
				<?=$event['datefull']?>
				<? if ($event['timefull']) { ?>
			  	<br/><?=$event['timefull']?>
				<? } ?>
			</li>

      <? if (trim($event['where']) != '') { ?>
 			   <li><?=trim($event['where'])?></li>
      <? } ?>

			<? if (trim($event['description']) != '') { ?>
			   <li class="description"><?=$event['description']?></li>
      <? } ?>

      <? if (trim($event['contactname']) != '') { ?>
	       <li>Contact name: <?=$event['contactname']?></li>
	    <? } ?>

      <? if (trim($event['contactphone']) != '') { ?>
 			   <li>For info call: <a href="<?=phoneURL($event['contactphone'])?>" class="phone"><?=$event['contactphone']?></a></li>
      <? } ?>
      
      <? if (trim($event['contactemail']) != '') { ?>
	       <li>For info email: <a href="mailto:$event['contactemail']?>" class="email"><?=$event['contactemail']?></a></li>
	    <? } ?>
	                
      <? if ((trim($event['link']) != '') && (trim($event['link']) != 'http://')) { ?>
		     <li><a href="<?=$event['link']?>" class="external" target="_new">Event website</a></li>
      <? } ?>
		</ul>
	
	</div>

<? $page->content_end(); ?>
