<?
$page->title($inst_name." Events Calendar: Search Results")
     ->navbar_image('title-calendar')
     ->breadcrumbs("Search Results");

$page->content_begin();
	
?>
<div class="nonfocal">
	<form method="get" action="search.php">
		<fieldset class="inputcombo">
			<input class="forminput" type="text" id="filter" name="filter" placeholder="Search for events" value="<?=$search_terms?>" />
			<input class="combobutton" id="sch_btn" src="/themes/<?=$theme?>/touch/images/search-button.png" type="image" />
		</fieldset>	
		<fieldset>
			<select id="timeframe" name="timeframe">
                                      <? foreach($search_options as $key => $option) { ?> 
				   <option value="<?=$key?>" <? if($key == $timeframe) { ?>selected="selected"<? } ?> ><?=$option['phrase']?></option>
                                      <? } ?>
			</select>
		</fieldset>	
	</form>
	
	<? $i = 0; ?>
	<? foreach ($eventFeed as $event) { $i++; } ?>
	<? if ($i == 1) { ?>
	  <p><?=$i?> match found:</p>
	<? } else if ($i < 30) { ?>
	  <p><?=$i?> matches were found:</p>
	<? } else { ?>
		<p>You may need to refine your search. The first 50 matches found:</p>
	<? } ?>
</div>


	<ul class="results">
							     <? foreach ($eventFeed as $event) { ?>
								<? $loc = briefLocation($event); ?>
							          <li><a href="<?=detailURL($event,'all')?>"><?=html_entity_decode($event->title->text)?><br/><span class="smallprint"><?=timeText($event)?><? if(trim($loc->valueString) != '') { ?>&nbsp;|&nbsp;<?=$loc->valueString?><? } ?></span></a></li>
							     <? } ?>
							</ul>

<?

$page->content_end() 
?>
