<?
$page->title($inst_name." Emergency Info")
     ->navbar_image("title-emergency")
     ->breadcrumbs("Emergency Info")
     ->breadcrumb_home();

$page->content_begin();
?>
  <? if ($show_rss == true) { ?>
		<div class="focal" id="statusmsg">
			<? 
				if ($article_f_timestamp > $current_timestamp) {
					echo(implode('<br /><br />', $paragraphs));
					if ($date) { 
						echo('<em>Posted: '.$date.'</em>'); 
					}
				} else {
					echo("There is currently no emergency on campus.");
				} 
			?>
		</div>
	<? } ?>
	
	<ul class="secondary">
	<? foreach ($main as $item) { ?>
		<li><a href="tel:<?=$item->call_number()?>" class="phone"><?=$item->label()?> <span class="smallprint">(<?=$item->message_text()?><?=$item->number_text()?>)</span></a></li>
	<? } ?>
	<li><a href="<?=contactsURL()?>">More Emergency Contacts</a></li>
	<? if ($show_extra == true) { ?>
		<li><a href="<?=extraURL()?>">More General Phone Numbers</a></li>
	<? } ?>
	</ul>

<? $page->content_end(); ?>
