<?
$page->title($inst_name." Emergency Info")
     ->navbar_image("title-emergency")
     ->breadcrumbs("Emergency Info")
     ->breadcrumb_home();

$page->content_begin();
?>
  
  <? if ($show_include == true) { ?>
		<div class="focal" id="statusmsg">
			<? 
				if (file_exists("../include.inc.html")) {
					include("../include.inc.html");
				} else {
					echo("The include file has not been properly set-up for showing emergency information.");
				}
			?>
		</div>
	<? } else if ($show_rss == true) { ?>
		<div class="focal" id="statusmsg">
			<? if ($emergencies) { ?>
				<? $displayed_emergency = false; ?>
				<? foreach ($emergencies->aItems as $item) { ?>
					<? if (display_emergency($item)) { ?>
						<span class="alert"><? echo($item->sDescription); ?></span>
						<em>Posted: <? echo(htmlspecialchars(format_emergency_date($item->sDate))); ?></em>
						<? $displayed_emergency = true; ?>
					<? } ?>
				<? } ?>
				<? if (! $displayed_emergency) { ?>
					There is currently no emergency on campus.
				<? } ?>
			<? } else { ?>
				Emergency information is currently not available.
			<? } ?>
		</div>
	<? } ?>
	
	<ul class="secondary">
	<? foreach ($main as $item) { ?>
		<li><a href="tel:<?=$item->call_number()?>" class="phone"><?=$item->label()?> <span class="smallprint">(<?=$item->message_text()?><?=$item->number_text()?>)</span></a></li>
	<? } ?>
	<li><a href="<?=contactsURL()?>">More Emergency Contacts</a></li>
	<? if ($show_extra == true) { ?>
		<li><a href="<?=extraURL()?>">More General Phone Numbers</a></li>
	<? } ?>
	</ul>

<? $page->content_end(); ?>
