<?
$page->title($inst_name.' on YouTube')
     ->navbar_image('title-youtube')
     ->breadcrumbs($inst_name.' on YouTube')
     ->breadcrumb_home();

$page->content_begin();
?>
	
	<? printVideoFeed($uploads,$phone); ?>

	<div class="nonfocal">
		<p>
		<? 
		$previous = false;
		try {
		  $previousFeed = $uploads->getPreviousFeed();
		  echo("<a href=./?page=$prev>&lt; Previous Page</a>");
		  $previous = true;
		} catch (Zend_Gdata_App_Exception $e) {}

		// See if the feed specifies a next page of results.
		try {
		  $nextFeed = $uploads->getNextFeed();
		  if ($previous == true) {
		    echo("&nbsp;|&nbsp;");
		  }
		  echo("<a href=./?page=$next>Next Page &gt;</a>");
		} catch (Zend_Gdata_App_Exception $e) {} 
		?>
		</p>
	</div>
	
	<div class="nonfocal legend">
	<p><strong>* Important note:</strong> WVU on YouTube is provided as a free service. Extra data charges may apply when using watching YouTube videos on your mobile device depending on your service plan.</p>
	</div>
	
<? $page->content_end(); ?>

