<? $page_title = "Bookmark ".$mobile_web_addy; ?>
<? $help_on = false; ?>

<div id="about-homescreen">

	<? include("../templates/iphone/toolbar.html"); ?>

	<div class="focal">
		<p>To bookmark <?=$mobile_web_addy?> and add it to your iPhone's or iPod Touch's home screen do the following.</p>
		
		<p>
	    <strong>Step 1:</strong><br />
	    Click the plus (+) button at the bottom of the main <?=$mobile_web_addy?> home page. It should look like this:<br />
	    <center><img src="../webkit/images/homescreen-step1.png"></center>
		</p>
		
		<p>
	    <strong>Step 2:</strong><br />
	    Click the "Add to Home Screen" button. It should look like this:<br />
	    <center><img src="../webkit/images/homescreen-step2.png"></center>
		</p>
		
		<p>
	    <strong>Step 3:</strong><br />
	    Click the blue 'Add' button in the top right of the page. It should look like this:<br />
	    <center><img src="../webkit/images/homescreen-step3.png"></center>
		</p>
		
		<p>
	    <strong>Congratulations!</strong><br />
	    You've just added <?=$mobile_web_addy?> to your iPhone's or iPod Touch's home screen for easy access in the future.
		</p>
	</div>

	<? include("../templates/iphone/info.html"); ?>

</div>