<?='<?xml version="1.0" encoding="UTF-8"?>'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="application/xhtml+xml" />
		<title><?= $inst_name ?> Mobile Web</title>
		<link rel="stylesheet" type="text/css" href="../templates/basic/basic.css" />
	</head>

	<body>

		<h2 id="header"><?=$inst_name?> Mobile Web</h2>

		<p class="bb"> </p>

		<p class="nav">	
			<? $i = 1; ?>
			<? foreach ($items as $item) {
				if (($item[1] == true) && ($i < 9)) {
					$i++;
				}
				else if (($item[1] == true) && ($i > 8)) {
					if ($item[6] == true) { 
						$k = $i - 8; ?>
						<a href="<?=$item[7]?>" accesskey="<?=$k?>" onClick="javascript: pageTracker._trackPageview('/outgoing/home/<?=$item[2]?>');">	<?=$k?>: <?=$item[2]?></a>
					<? } else { ?>
						<? $k = $i - 8; ?>
						<a href="../<?=$item[3]?>/<?=$item[4]?>" accesskey="<?=$k?>"><?=$k?>: <?=$item[2]?></a>
					<? } ?>
					<br />
					<? $i++; ?>
				<? } ?>
			<? } ?>
			<a href="./" accesskey="9">9: Mobile Web Home</a>
		</p>

		<p class="nav secondary">
			<a href="../mobile-about/">About the <?=$inst_name?> Mobile Web</a><br/>
			<a href="../mobile-about/?page=new">What's New</a><br/>
			<? if ($has_sms) { ?>
				<a href="../sms/"><?=$inst_name?> SMS (BETA)</a><br/>
			<? } ?>
			<? if ($phone == 'sp') { ?>
				<a href="http://<?=$main_site_addy?>">Go to <?=$main_site_addy?></a><br/>
			<? } ?>
		</p>

		<p id="footer">
			Managed by <?= $org_name ?>
		</p>

		<? if ($ga_code != '') { ?>
			<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try {
			  var pageTracker = _gat._getTracker("<?=$ga_code?>");
			  pageTracker._trackPageview();
			} catch(err) {}</script>
		<? } ?>

	</body>
</html>
