<?
$page->title('About the '.$inst_name.' Mobile Web: System Requirements')
     ->navbar_image('title-about')
     ->breadcrumbs('System Requirements');

$page->content_begin();
?>

<div class="focal">
    <p>
        To use the <?=$inst_name?> Mobile Web, you'll need two things:
    </p>

    <ol>
        <li><strong>A web-capable mobile device</strong>, such as:
            <ul>
		            <li>A recent 'feature' phone (including flip, slider and bar phones like the RAZR, Chocolate, Sync, EnV, etc.)</li>
		            <li>A smartphone (including Android, iPhone, BlackBerry, Windows Mobile, Windows Phone 7)</li>
								<li>iPod Touch** or other WiFi-enabled handheld devices</li>
		        </ul>
        </li>
        <li><strong>A network connection</strong>: A web/data plan from your carrier*, or a WiFi connection if your device has WiFi.</li>
    </ol>

    <br/>

    <p>To get to the <?=$inst_name?> Mobile Web: On your mobile device, launch your web browser and go to <strong><a href="http://<?=$mobile_web_addy?>/">http://<?=$mobile_web_addy?></a></strong>.</p>
    <p>Note: do <em>not</em> use 'www' in the web address.</p>
    <p>Your device's browser may be found under 'MediaNET' (AT&amp;T Wireless), 'Get It Now &gt; News &amp; Info' (Verizon Wireless), 'Power Vision' (Sprint), 'Safari' (iPhone/iPod Touch), 'Internet Explorer' (Windows Mobile), 'Opera' (some feature phones and smartphones), or just 'Web' or 'Browser'.</p>
    <p>The <?=$inst_name?> Mobile Web will automatically detect your device type and deliver an experience optimized for it.</p>
    <p>* Important note: The <?=$inst_name?> Web is a free service. Extra data charges may apply when using any website on your mobile device depending on your service plan.</p>
    <p>** On devices without phone service (e.g., iPod Touch, WiFi-connected PDA, internet tablet), links that are meant to dial a phone number will not work properly.</p>
</div>

<? 
$page->content_end(); 
$page->help_off();
?>
