<?php
$page->title('U92FM: College Radio at WVU')
     ->navbar_image('title-u92')
     ->breadcrumbs('College Radio')
     ->breadcrumb_home();

$page->content_begin();
?>

  <!--<div class="focal">
	   	<p>
		    <strong>Now playing on U92:</strong> <br />
        <a href="<?#showURL($showid)?>"><?#$showname?></a> <span class="legend">(<a href="index.php?streams=true">Listen live!</a>)</span>
		  </p>
	</div>-->
	
	<ul class="nav">
	     <li><strong><a href="index.php?streams=true">Listen live!</a></strong></li>
	</ul>

	<ul class="nav">
             <li><strong>U92 news:</strong></li>
             <? foreach($items as $title => $item) { ?>
		            <li> <a href="<?=detailURL($title)?>"><?=$title?></a></li>
             <? } ?>
	
	</ul>
	
	<ul class="secondary">
		<? foreach($links as $item) { ?>
			   <? $external = ''; ?>
			   <? if ($item[3] == true) { $external = "class='external'"; } ?>
         <li><a <?=$external?> href="<?=$item[1]?>"> <?=$item[0]?></a></li>
    <? } ?>
	</ul>
	
<? $page->content_end(); ?>
<? $page->help_off(); ?>
