<? $page_title = "Credits"; ?>
<? $help_on = false; ?>

<div id="about-credits">

	<? include("../templates/webkit/toolbar.html"); ?>
	
	<div class="focal">
		<p>The <?=$inst_name?> Mobile Web was developed using the <a href="http://mobiweb.pbworks.com/" target="_blank">Mobile Web Open Source Project (OSP)</a>. Mobile Web OSP is a fork of version 0.9 of MIT Mobile Web. Mobile Web OSP was modified &amp; documented by Dave Olsen of West Virginia University's University Relations/Web Services.</p>
		
		<p>The original MIT Mobile Web was developed by MIT's Information Services &amp; Technology (IS&amp;T) as a service to the MIT community. The initial design and implementation took place in January-May 2008, and after a beta release and testing in May 2008, the site was officially launched in June 2008.</p>

		<p>We hope you find the site useful &ndash; and fun! Please send any feedback to <a href="mailto:<?=$contact_addy?>" data-ga="/email/about/credits/"><?=$contact_addy?></a>.</p>
	</div>

	<? include("../templates/webkit/info.html"); ?>

</div>
