<? $ext = ($calendars[$_REQUEST['id']]['caltxt'] == true) ? 's' : ''; ?>
<? $page_title = $calendars[$_REQUEST['id']]['title'].$ext; ?>
<? $help_on = false; ?>

<div id="calendar-category" class="calendar-list">
	
	<? include("../templates/webkit/toolbar.html"); ?>

	<div class="nonfocal" style="text-align: center;"> 
		<?
			$num_events = count($eventFeed);
			if ($num_events == 0) {
				echo("<p>There were no results returned.</p>");
			} else if ($num_events == 1) {
				echo("<p>" . htmlspecialchars($num_events) . " match found:</p>");
			} else if ($num_events < 30) {
				echo("<p>" . htmlspecialchars($num_events) . " matches were found:</p>");
			} else {
				echo("<p>The first 30 matches found:</p>");
			}
		?>
	</div>

<?php if ($num_events > 0) { ?>
	<ul class="edgetoedge" role="listbox">
		<?
			foreach ($eventFeed as $event) {
				include("li_item.html");
			}
		?>
	</ul>
<?php } ?>
	
	<? include("../templates/webkit/info.html"); ?>

</div>

