<? 
	$day_check = day_info(time());
	$day_name = "this day";
	if ($time == $day_check['time']) {
		$page_title = "Today's Events";
		$today = true;
	} else {
		$page_title = "Events";
		$today = false;
	}
	$help_on = false; 
?>

<div id="calendar-day" class="calendar-list">
	
	<? include("../templates/webkit/toolbar.html"); ?>
	
	<ul class="edgetoedge" role="listbox">
		<li class="sep" role="separator" style="text-align: center"><?=$current['weekday']?>, <?=$current['month']?> <?=$current['day_num']?>, <?=$current['year']?></li>
		<? 
			if (count($eventFeed) == 0) {
				echo("<li><a href='<?=dayURL($next,$type)?>'>Sorry, no results returned.</a></li>");
			} else {
				foreach ($eventFeed as $event) {
					include("li_item.html");
				}
			}
		?>
	</ul>
	
	<ul class="individual" role="navigation">
		<? if ($today == false) { ?>
			<li role="option"> <a href="#" onclick="jQT.goBack();">&laquo; <?=$prev['day_3Let']?>. <?=$prev['month_3Let']?> <?=$prev['day_num']?></a></li> 
		<? } ?>
		<li role="option"> <a href="<?=dayURL($next, $type)?>"><?=$next['day_3Let']?>. <?=$next['month_3Let']?> <?=$next['day_num']?> &raquo;</a></li>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>
