<? $page_title = "Event Details"; ?>
<? $help_on = false; ?>
<? $button = true; ?>

<? 
	if (Device::is_ios()) {
		$button_html = '<a href="#" class="button" id="calendar-favorite-detail"><img src="/themes/'.$theme.'/webkit/images/favorite_unselected.png" id="calendar-favorite-detail-img" class="icon2" /></a>'; 
	}
?>

<div id="calendar-detail" class="clear-map-detail">
	
	<script type="text/javascript">
		// set-up the session storage data for this item to be inserted if necessary
		sessionStorage.etitle = "<?=htmlentities($event['title'],ENT_QUOTES)?>";
		sessionStorage.egid = "<?=$_REQUEST['id']?>";
		sessionStorage.elocation = "<?=htmlentities(trim($event['where']),ENT_QUOTES)?>";
		sessionStorage.edesc = "<?=htmlentities($event['description'],ENT_QUOTES)?>";
		sessionStorage.ecname = "<?=htmlentities($event['contactname'],ENT_QUOTES)?>";
		sessionStorage.ecphone = "<?=$event['contactphone']?>";
		sessionStorage.ecemail = "<?=$event['contactemail']?>";
		sessionStorage.etime = "<?=$event['timefull']?>";
		sessionStorage.edate = "<?=$event['datestorage']?>";
		sessionStorage.edatecompare = "<?=$event['datecompare']?>";
	</script>
	
	<? include("../templates/webkit/toolbar.html"); ?>
	
	<ul class="result">
		<li class="wrap">
			<h4><?=$event['title']?></h4>
		</li>
		
		<li>
			<?=$event['datefull']?>
			<? if ($event['timefull']) { ?>
			  <br/><?=$event['timefull']?>
			<? } ?>
		</li>
		
     <? if (trim($event['where']) != '') { ?>
			  <li class="map"><?=mapURL(trim($event['where']))?></li>
     <? } ?>

		<? if (trim($event['description']) != '') { ?>
		   <li><?=$event['description']?></li>
     <? } ?>
	
	<? if ((trim($event['contactname']) != '') || (trim($event['contactphone']) != '') || (trim($event['contactemail']) != '') || ((trim($event['link']) != '') && (trim($event['link']) != 'http://'))) { ?>
     <li>
				<strong>Contact:</strong>
				<ul class="sublist">
					<? if (trim($event['contactname']) != '') { ?>
       			<li><?=$event['contactname']?></li>
    			<? } ?>

     			<? if (trim($event['contactphone']) != '') { ?>
			 			<li class="phone"><a href="<?=phoneURL($event['contactphone'])?>"><?=$event['contactphone']?></a></li>
     			<? } ?>
     
     			<? if (trim($event['contactemail']) != '') { ?>
       			<li class="email"><a href="mailto:<?=$event['contactemail']?>"><?=$event['contactemail']?></a></li>
    			<? } ?>
                
     			<? if ((trim($event['link']) != '') && (trim($event['link']) != 'http://')) { ?>
	     			<li class="external"><a href="<?=$event['link']?>" target="_blank">Event website</a></li>
     			<? } ?>
			</ul>
		</li>
	<? } ?>
	
	<? include("../templates/webkit/info.html"); ?>

</div>
