<? $page_title = "Your Favorites"; ?>
<? $help_on = false; ?>

<div id="calendar-favorites" class="calendar-list">

	<? include("../templates/webkit/toolbar.html"); ?>
	
	<div id="fav-cal-info" class="focal">
		You can set events that you find through the Events Calendar as favorites for easy future access. Just click the star icon in the top right of an event's detail page.
	</div>
	
	<ul class="edgetoedge" id="cal-fav-list">
		<li class="arrow wrap" style="display: none;" id="fav-cal-clone"></li>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>