<?

	// a template for web/search/ feature hence why it's totally different than all others
	
	$html .= "<li class='sep'>Calendar Results</li>";

	if ($total == 0) {
		$html .= "<li class='arrow' role='option'>No results returned.</li>";
	} else {
		$i = 0;
		if ($total > 3) {
			while ($i < 3) {
				$event = $results[$i];
				ob_start();
				include("../calendar/templates/$prefix/li_item.html");
				$html .= ob_get_contents();
				ob_end_clean();
				$i++;
			}
			$more = $total - 3;
			$html .= "<li class='arrow' role='option'><a href='../calendar/search.php?filter=$filter&x=0&y=0&timeframe=3'>More results...</a></li>";
		} else {
			while ($i < $total) {
				$event = $results[$i];
				ob_start();
				include("../calendar/templates/$prefix/li_item.html");
				$html .= ob_get_contents();
				ob_end_clean();
				$i++;
			}
		}
	}

	$html .= "</p>";
	
?>