<?
$page->title($section.' News')
     ->header($section.' News');

$page->content_begin();
?>

	<p>The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.</p>

  <? foreach($items->aItems as $item) { ?>
		<?
			$description = strip_tags($item->sDescription);
			$title = $item->sTitle;
			$date = article_date($item->sDate);
		?>
	  <p class="focal">
		  <strong><?=$title?></strong><br/>
		  <span class="smallprint"><?=html_entity_decode(summary($description))?> <a href="<?=detailURL($title,$key)?>">more</a> <? if ($date) { ?>(<?=$date?>)<? } ?></span>
	  </p>
  <? } ?>

<?
$page->content_end();
$page->help_off();
$page->nav_link("./", "Campus News");
?>
