<? $page_title = "Browse Hours"; ?>
<? $help_on = false; ?>

<div id="hours-places">
	
	<? include("../templates/iphone/toolbar.html"); ?>
		
	<div class="nonfocal">
		<h2>Browse <?=$title?></h2>
	</div>
	
	<ul class="edgetoedge">
		<? foreach($places as $place) { ?>
			<li><a href="../map/<?=detailURL($place['id'],$place['latitude'],$place['longitude'])?>" class="map"><?=$place['name']?><br /><span class="legend"><?=str_replace('"','',$place['hours'])?></span></a></li>
		<? } ?>
	</ul>
	
	<div class="nonfocal">
		<form action="" method="get">
			<select name="category" onchange="this.parentNode.submit();">
				<option value="" selected="selected">Browse hours by:</option>
				<? foreach($category_info as $category => $info) { ?>
					<option value="<?=$category?>"><?=$info[0]?></option>
				<? } ?>
			</select>
		</form>
	</div>

	<? include("../templates/iphone/info.html"); ?>

</div>
