<?
$page->title($inst_name.' Campus News')
     ->navbar_image('title-news')
     ->breadcrumbs('Campus News')
     ->breadcrumb_home();

$page->content_begin();
?>

	<div class="nonfocal">
		News items regarding events affecting the <?=$inst_name?> community.
	</div>
	
	<ul class="nav">
		<? $i = 0; ?>
		<? foreach($items->$aItems as $item) { ?>
			<?
				$description = $item->sDescription;
				$title = $item->sTitle;
				$date = $item->sDate;
			?>
			<? if ($i < 3) { ?>
				<li>
					<? if (is_long_text($item)) { ?>
						<a href="<?=detailURL($title,$key)?>"><h3><?=$title?></h3><span class="smallprint"><?=html_entity_decode(summary($description))?> <span class="more">more</span> <? if ($date) { ?>(<?=short_date($date)?>)<? } ?></span></a>
					<? } else { ?>
						<div><h3><?=$title?></h3><span class="smallprint"><?=full($item)?> <? if ($date) { ?>(<?=short_date($date)?>)<? } ?></span></div>
					<? } ?>
				</li>
			<? } ?>
			<? $i++; ?>
		<? } ?>
	</ul>
	
	<ul class="nav">
		<? $i = 0;?>
		<? foreach ($news_srcs as $key => $news_src) { ?>
			<? if ($i == 0) { ?>
		    <li><a href="./?news=<?=$key?>">More from <? if ($news_src['need_the'] == true) { ?>the<? } ?><?=$news_src['title']?></a></li>
		    <? $i = 1; ?>
		  <? } else { ?>
		    <li><a href="./?news=<?=$key?>">News from <? if ($news_src['need_the'] == true) { ?>the<? } ?> <?=$news_src['title']?></a></li>
		  <? } ?>
	  <? } ?>
	  <? foreach ($news_links as $key => $news_link) { ?>
			<li><a class="external" href="<?=$news_link['url']?>" onClick="javascript: pageTracker._trackPageview('/outgoing/news/<?=$key?>/<?=$outgoing?>');">News from <? if ($news_link['need_the'] == true) { ?>the<? } ?> <?=$news_link['title']?></a></li>
		<? } ?>            
  </ul>
	
	<ul class="secondary">
			<li><a href="../emergency">Campus emergency information</a></li>	
	</ul>
	
<? $page->content_end(); ?>
