<?
$page->title($inst_name.' News')
     ->navbar_image('title-news')
     ->breadcrumbs($section);

$page->content_begin();
?>

	<div class="nonfocal">
		The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.
	</div>
	
	<ul class="nav">
    <? foreach($items->aItems as $item) { ?>
			<?
				$description = strip_tags($item->sDescription);
				$title = $item->sTitle;
				$date = article_date($item->sDate);
			?>
			<li>
        <a href="<?=detailURL($title,$key)?>"><h3><?=$title?></h3><span class="smallprint"><?=html_entity_decode(summary($description))?> <span class="more">more</span> <? if ($date) { ?>(<?=$date?>)<? } ?></span></a>
			</li>
    <? } ?>
	</ul>
	
<? $page->content_end(); ?>
