<?
$page->title($inst_name.' News')
     ->navbar_image('title-news')
     ->breadcrumbs($section);

$page->content_begin();
?>

	<div class="nonfocal">
		The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.
	</div>
	
	<ul class="nav">
    <? foreach($items->aItems as $item) { ?>
			<?
				$description = $item->sDescription;
				$title = $item->sTitle;
				$date = $item->sDate;
			?>
	  	<? $short_date = short_date($date); ?>
			<? if ($short_date == '00:00am') { $short_date = '12:00am'; } ?>
			<li>
        <a href="<?=detailURL($title,$key)?>"><h3><?=$title?></h3><span class="smallprint"><?=html_entity_decode(summary($description))?> <span class="more">more</span> <? if ($date) { ?>(<?=short_date($date)?>)<? } ?></span></a>
			</li>
    <? } ?>
	</ul>
	
<? $page->content_end(); ?>
