<? $page_title = $inst_name." Weather Alert"; ?>
<? $help_on = false; ?>

<div id="weather-alerts">
	
	<? include("../templates/webkit/toolbar.html"); ?>

	<ul class="result">
		<li class="title"><?=$elements['warning'];?></li>
		<li>Issued: <?=$elements['issued'];?></li>
		<li>Expiring: <?=$elements['expiring'];?></li>
		<li>Issued by: <a href="<?=$elements['orgURL'];?>" title="<?=$elements['issuedBy'];?>" target="_blank"><?=$elements['issuedBy'];?></a></li>
		<li><i>Last updated on: <?=$formatDateTime['date']?> at <?=$formatDateTime['time'];?></i></li>
		<li class="external"><a href="<?=$alerts[$i]['link'];?>" title="<?=$elements['warning'];?>" target="_blank">More on Weather.gov...</a></li>
	</ul>

	<ul class="rounded">
		<li class="arrow"><a href="../emergency">Campus emergency information</a></li>
	</ul>
 
</div>