<? $page_title = $inst_name." Weather"; ?>
<? $help_on = false; ?>

<div id="weather">
	
	<? include("../templates/webkit/toolbar.html"); ?>

	<div class="nonfocal">
		Weather details affecting the <?=$inst_name?> community.
	</div>

	<? $alert = false; ?>
	<? if ($alerts[0]['title'] != 'There are no active watches, warnings or advisories') { $alert = true; } ?>

	<? if ($alert == true) { ?>
		<ul class="rounded">
			<li class="title">Weather Alerts</li>
				<? $count = count($alerts); ?>
				<? for( $i = 0; $i < $count; $i++ ) { ?>
					<li class="arrow"><a href="<?=alertURL(getWarning($alerts[$i]['title']),$i);?>"><?=getWarning($alerts[$i]['title']);?></a></li>
				<? } ?>
		</ul>
	<? } ?>

	<ul class="result">
		<li class="title">Current Conditions</li>
		<li>
			<div style="float: left; margin: 2px;">
				<img src="<?echo($conditions['icon_url_base'] . $conditions['icon_url_name']); ?>" title='weather icon' />
			</div>
			<?=$conditions['temp_f'];?>&deg; F<br />
			<?=$conditions['weather'];?>
		</li>		
		<? if (isset($conditions['windchill_f'])){ ?>
			<li><strong>Wind Chill:</strong> <?=$conditions['windchill_f'];?>&deg; F</li>
		<? } ?>

		<? if (isset($conditions['heat_index_f'])) { ?>
			<li><strong>Heat Index:</strong> <?=$conditions['heat_index_f'];?>&deg; F</li>
		<? } ?>
	
		<? if (isset($conditions['relative_humidity'])) { ?>
			<li><strong>Humidity:</strong> <?=$conditions['relative_humidity'];?>%</li>
		<? } ?>
	
		<? if (isset($conditions['wind_dr']) && isset($conditions['wind_mph'])) { ?>
			<li><strong>Wind:</strong> <? echo($conditions['wind_dr']." at ".$conditions['wind_mph']." MPH"); ?></li>
		<? } elseif (isset($conditions['wind_string'])) { ?>
			<li><strong>Wind:</strong> <?=$conditions['wind_string'];?></ul>
		<? } ?>		
	</ul>	

	<ul class="rounded">
		<li class="arrow"><a href="../emergency">Campus emergency information</a></li>
	</ul>
	
	<div class="nonfocal legend">
		<p><em><?=$conditions['observation_time'];?></em></p>
	</div>
 
</div>