<? $page_title = "Campus News"; ?>
<? $help_on = true; ?>

<div id="news">

	<? include("../templates/iphone/toolbar.html"); ?>
	
	<ul>
		<? $i = 0; ?>
		<? foreach ($items as $title => $item) { ?>
			<? if ($i < 3) { ?>
				<li class="arrow">
					<? if(is_long_text($item)) { ?>
						<a href="<?=detailURL($title,$key)?>"><h3><?=$title?></h3><span class="smallprint"><?=html_entity_decode(summary($item))?> <span class="more">more</span> <? if ($item['date']) { ?>(<?=short_date($item['date'])?>)<? } ?></span></a>
					<? } else { ?>
						<div><h3><?=$title?></h3><span class="smallprint"><?=full($item)?> <? if ($item['date']) { ?>(<?=short_date($item['date'])?>)<? } ?></span></div>
					<? } ?>
				</li>
			<? } ?>
			<? $i++; ?>
		<? } ?>

	</ul>
	
	<ul>
		<? $i = 0;?>
		<? foreach ($news_srcs as $key => $news_src) { ?>
			<? if ($i == 0) { ?>
				<li class="arrow"><a href="/news/?news=<?=$key?>">More from <? if ($news_src['need_the'] == true) { ?>the<? } ?><?=$news_src['title']?></a></li>
				<? $i = 1; ?>
			<? } else { ?>
				<li class="arrow"><a href="/news/?news=<?=$key?>">News from <? if ($news_src['need_the'] == true) { ?>the<? } ?> <?=$news_src['title']?></a></li>
			<? } ?>
		<? } ?>
		<? foreach ($news_links as $key => $news_link) { ?>
			<li class="external"><a href="<?=$news_link['url']?>" onClick="javascript: pageTracker._trackPageview('/outgoing/news/<?=$key?>/<?=$outgoing?>');">News from <? if ($news_link['need_the'] == true) { ?>the<? } ?> <?=$news_link['title']?></a></li>
		<? } ?>            
  </ul>
	
	<ul class="secondary">
		<li><a href="../emergency">Campus emergency information</a></li>	
	</ul>
	
	<? include("../templates/iphone/info.html"); ?>

</div>
