<? $page_title = $section; ?>
<? $help_on = true; ?>

<div id="news-shared-<?=$section?>">

	<? include("../templates/iphone/toolbar.html"); ?>

	<div class="nonfocal">
		The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.
	</div>
	
	<ul class="nav">
    <? foreach($items as $title => $item) { ?>
	  	<? $short_date = short_date($item['date']); ?>
    	<? if ($short_date == '00:00am') { $short_date = '12:00am'; } ?>
			<li><a href="<?=detailURL($title,$key)?>"><h3><?=$title?></h3><span class="smallprint"><?=html_entity_decode(summary($item))?> <span class="more">more</span> <? if ($item['date']) { ?>(<?=short_date($item['date'])?>)<? } ?></span></a></li>
    <? } ?>
	</ul>
	
	<? include("../templates/iphone/info.html"); ?>

</div>
