<?
$page->title($inst_name." Map: Browse by ".$titlebar)
     ->navbar_image('title-map')
     ->breadcrumbs('Browse', $drilldown)
     ->breadcrumb_links(categoryURL());

$page->content_begin();
?>

	<div class="nonfocal">
		<h2>Browse Buildings: <?=$drilldown?></h2>
	</div>
	
	<ul class="results">
		<? 
			if (count($places) == 0) {
				echo("There are no items associated with this option.");
			} else {
				foreach($places as $place) {
					include("items.html");
				} 
			}
		?>
	</ul>
	
	<div class="nonfocal">
		<form action="" method="get">
			<select name="category" onchange="this.parentNode.submit();">
				<option value="" selected="selected">Browse map by:</option>
				<? foreach($category_info as $category => $info) { ?>
					<option value="<?=$category?>"><?=$info[0]?></option>
				<? } ?>
			</select>
		</form>
	</div>
<? $page->content_end(); ?>

