<?
$page->title($inst_name.' Campus Map: Search Results')
     ->navbar_image('title-map')
     ->breadcrumbs('Search Results');

$page->content_begin(); 
?>

<div class="nonfocal">
	<form method="get" action="search.php">
		<fieldset class="inputcombo">
			<input class="forminput" type="text" id="filter" name="filter" placeholder="Search the campus map" value="<?=$search_terms?>" />
			<input class="combobutton" id="sch_btn" src="/themes/<?=$theme?>/touch/images/search-button.png" type="image" />
		</fieldset>	
	</form>
	
	<p><?=count($results)?> matches found:</p>

</div>

<ul class="results">
	<? 
		$showaddress = true;
		foreach ($results as $place) {
			include("items.html");
		} 
	?> 
</ul>

<? $page->content_end(); ?>
