<? $page_title = "Your Favorites"; ?>
<? $help_on = false; ?>

<div id="people-favorites" class="people-list">

	<? include("../templates/webkit/toolbar.html"); ?>

	<div id="fav-ppl-info" class="focal">
		You can set contacts that you find through the Directory as favorites for easy future access. Just click the star icon in the top right of a contact's detail page.
	</div>
	
	<ul class="edgetoedge" id="fav-ppl-list">
		<li class="arrow wrap" style="display: none;" id="fav-ppl-clone"></li>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>