<?='<?xml version="1.0" encoding="UTF-8"?>'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml" />
	<title><?=$mobile_web_addy?></title>

  <? if ($ga_code != '') { ?>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/script'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		  var pageTracker = _gat._getTracker("<?=$ga_code?>");
		  pageTracker._trackPageview();
		} catch(err) {}</script>
	<? } ?>
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- jQuery, jQTouch, and theme calls -->
	<script src="/jqtouch/jquery.1.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jqtouch/jqtouch.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jqtouch/extensions/jqt.notice.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/jqtouch/jqtouch.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/themes/<?=$theme?>/theme.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/themes/<?=$theme?>/extra.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<!-- Pre-emptively Load Up Google Maps v2 -->
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=<?=$maps_api_key?>" type="text/javascript"></script>
  
	<!-- Pre-emptively Load Up Google Maps v3 & work around a bug w/ map_loaded var -->
	<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
	<script type="text/javascript">
		//var map_loaded = false;
	</script>
	
	<!-- Map-related bindings -->
	<script type="text/javascript">
		// when loading a map detail page muck w/ some classes so the map will scroll & intialize the map
		// .live is used so that the bindings always fires even if these IDs aren't part of the DOM yet
		$(function(){   				
			  $('#map-detail').live('pageAnimationStart', function(event, info){	
					if (info.direction == 'in') {
						map_initialize();
						$('#jgt').css("-webkit-perspective", "0");
						$('#jqt').css("-webkit-transform-style","flat");
						$(this).css("-webkit-transform","none !important");
					}
				})
	  });
	
		// when unloading the map delete the div holding the old detail map so it won't flash & new maps will load
		$(function(){   				
			  $('#map-drilldown').live('pageAnimationStart', function(event, info){	
					if (info.direction == 'in') {
						$('#map-detail').remove();
					}
				})
	  });
	</script>
	
	<!-- jQTouch initializer -->
	<script type="text/javascript">
		$.jQTouch({
			icon: '/icon.png',
			statusBar: 'black',
			startupScreen: '/startUpScreen.png',
			cacheGetRequests: false
		});
	</script>
	
	<!-- Styles for notice -->
	<style type="text/css" media="screen">
	    div#jqt .notice {
	        -webkit-border-radius: 10px;
	        -webkit-box-shadow: rgba(0,0,0, .5) 0px 1px 1px;
	        width: 59%;
	        margin: 0 5%;
	        padding: 5px 10px;
	        background: rgba(0,0,0,.7);
	        color: #fff;
	    }
	</style>
	
	<!-- Styles for this specific page -->
	<style type="text/css">
		#homegrid {
			width: 300px;
			margin: 0 auto;
			padding: 0;
		}
		#homegrid td {
			width: 25%;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 13px;
			line-height: 15px;
			text-align: center;		
			vertical-align: top;
		}
		#homegrid a {
			color: #fff;
			text-decoration: none;
			display: block;
			-webkit-border-radius: 5px;
			padding: 7px 5px;
		}
	
	</style>
</head>

<body>

<div id="jqt">
	<div id="home">
	
		<div class="toolbar">
			<h1><?= $inst_name ?> Mobile Web</h1>
		</div>
		
	  <table cellpadding="0" cellspacing="0" border="0" id="homegrid">
			<? $i = 0; ?>
			<? $k = 1; ?>
			<? $j = count($items); ?>
		  <? foreach ($items as $item) { ?>
				<? if ($item[0] == true) { ?>
					<? if (($i == 0) || ($i == 4)) { ?>
						<? $i = 0; ?>
						<tr>
					<? } ?>
					<? if ($item[6] == true) { ?> 
						<td><a href="<?=$item[7]?>" onClick="javascript: pageTracker._trackPageview('/outgoing/home/<?=$item[2]?>');"><img src="templates/iphone/images/<?=$item[5]?>" width="50" height="50" alt="<?=str_replace('<br />',' ',$item[2])?>" /><br /><?=$item[2]?></a></td>
					<? } else { ?>
						<? $id = "nomatter"; ?>
						<? if ($item[2] == 'Emergency Info') { $id = 'emergency'; } ?>
						<td><a href="/<?=$item[3]?>/<?=$item[4]?>" class="flip"><img class="touch" id="<?=$id?>" src="templates/iphone/images/<?=$item[5]?>" width="50" height="50" alt="<?=str_replace('<br />',' ',$item[2])?>" /><br /><?=$item[2]?></a></td>
					<? } ?>
					<? $i++; ?>
					<? $k++; ?>
					<? if ($j == $k) { ?>
						<? while ($i < 4) { ?>
							<td></td>
							<? $i++; ?>
						<? } ?>
					<? } ?>
					<? if ($i == 4) { ?>
						</tr>
					<? } ?>
				<? } ?>
			<? } ?>
		</table>
	
		<div class="info">
			Managed by <?= $org_name ?>
		</div>
		<!--<div id="map-overflow" style="overflow: hidden; width: 285px; height: 235px; text-align: center;">
			<div id="map_canvas" style="width: 500px; height: 500px; margin-top: -125px; margin-left: -125px;"></div>
		</div>-->
	</div>
	

</div>

</body>
</html>