<? $page_title = "Campus News"; ?>
<? $help_on = true; ?>

<div id="news">

	<? include("../templates/webkit/toolbar.html"); ?>
	
	<div class="nonfocal">
		The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.
	</div>
	
	<ul class="rounded" role="listbox">
		<? $i = 0; ?>
		<? foreach ($items->aItems as $item) { ?>
			<?
				$title = $item->sTitle;
				$date = article_date($item->sDate);
			?>
			<? if ($i < 3) { ?>
				<li class="arrow" role="option">
						<a href="<?=detailURL($title,$key)?>" class="noellipsis"><?=$title?><? if ($date) { ?><p class="smallprint" style="margin-top: 5px;"><em>Posted on: <?=$date?></em></p><? } ?></a>
				</li>
			<? } ?>
			<? $i++; ?>
		<? } ?>

		<? $i = 0;?>
		<? foreach ($news_srcs as $key => $news_src) { ?>
			<? if ($i == 0) { ?>
				<li class="arrow" role="option"><a href="/news/?news=<?=$key?>">More from <? if ($news_src['need_the'] == true) { ?>the<? } ?><?=$news_src['title']?></a></li>
				<? $i = 1; ?>
			<? } else if ($i == 1) { ?>
				</ul>

				<ul class="rounded" role="listbox">
					<li class="arrow" role="option"><a href="/news/?news=<?=$key?>">News from <? if ($news_src['need_the'] == true) { ?>the<? } ?> <?=$news_src['title']?></a></li>
					<? $i = 2; ?>
			<? } else { ?>
				<li class="arrow" role="option"><a href="/news/?news=<?=$key?>">News from <? if ($news_src['need_the'] == true) { ?>the<? } ?> <?=$news_src['title']?></a></li>
			<? } ?>
		<? } ?>
		<? foreach ($news_links as $key => $news_link) { ?>
			<li class="external" role="option"><a href="<?=$news_link['url']?>" target="_blank">News from <? if ($news_link['need_the'] == true) { ?>the<? } ?> <?=$news_link['title']?></a></li>
		<? } ?>            
  </ul>
	
	<ul class="rounded">
		<li class="arrow"><a href="../emergency">Campus emergency information</a></li>	
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>
