<? $page_title = $section." News"; ?>
<? $help_on = false; ?>

<div id="news-shared-<?=str_replace(" ","",$section)?>">

	<? include("../templates/webkit/toolbar.html"); ?>

	<div class="nonfocal">
		The latest news items from <? if ($news_srcs[$_REQUEST['news']]['need_the'] == true) { ?>the<? } ?> <?=$section?>.
	</div>
	
	<ul class="rounded" role="listbox">
    <? foreach($items->aItems as $item) { ?>
			<?
				$title = $item->sTitle;
				$date = article_date($item->sDate);
			?>
			<li class="arrow" role="option">
				<a href="<?=detailURL($title,$key)?>" class="noellipsis"><?=$title?><? if ($date) { ?><p class="smallprint" style="margin-top: 5px;"><em>Posted on: <?=$date?></em></p><? } ?></a>
			</li>
    <? } ?>
	</ul>
	
	<? include("../templates/webkit/info.html"); ?>

</div>
